<div id="listings-display">
  <% @listings.each do |listing| %>
    <figure>
      <%= image_tag listing.photo.url(:medium) %>
      <figcaption><%= link_to listing.title, listing_path(listing) %></figcaption>
    </figure>
  <% end %>
</div>
