<ul class="list-unstyled list-group">
  <% current_user.notifications.each do |notification| %>
    <li class="list-group-item">
      <%= link_to notification.title, user_notification_path(current_user, notification) %> 
      <% if notification.read %>
        <span class="glyphicon glyphicon-check"></span>
      <% else %>
      <span class="glyphicon glyphicon-unchecked"></span>
      <% end %>
    </li>
  <% end %>
</ul>


<%= render 'notification_modal' %>
